::-webkit-scrollbar{
    width: 6px;
    background-color: var(--scroller-bg-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--scroller-scroll-color);
}
::-moz-selection { /* Code for Firefox */
    background: none;
}
::selection {
    background: none;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Microsoft Sans Serif", sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 10px;
    cursor: default;
}
:root{
    --main-bg-color-default : #030303FF;
    --main-bg-color-content : #151515FF;
    --main-bg-color-content-hover-a : #FFFFFF05;
    --main-bg-color-content-hover : #202020FF;
    --main-brdr-color-default : #202020FF;
    --main-txt-color-default : #9f9f9fFF;

    --scroller-bg-color : #090909FF;
    --scroller-scroll-color : #484848FF;

    --color-blue : #1E90FFFF;
    --color-red : #ab0000FF;
    --color-green : #228B22FF;

}